package-lock=false

# mirror telenia
registry=https://registry.teleniasoftware.com/repository/npm/

# repository telenia
@telenia:registry=https://registry.teleniasoftware.com/repository/telenia_npm/
